<strong>Olá, {{ deliveryman }} </strong>

<p>Uma encomenda acaba de ser atribuida à você! Confira os detalhes:</p>

<strong>Destinatário: </strong>{{ recipient }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<small>Esta encomenda já está disponível para retirada, você pode retirar ela entre os <br />
horários <strong>08:00</strong> e <strong>18:00</strong>! Boas entregas :)</small>
<br />
